$white: rgb(255, 255, 255);
$dark-white: rgb(245, 245, 245);
$black: rgb(0,0,0);
$gray-color: rgb(120, 120, 120);
$footer-font-gray: rgb(70, 70, 70);
$btn-font-color: rgb(68, 68, 68);
$hover-color: rgb(68, 68, 68);
$btn-bgc-hover: rgb(42, 222, 114);
$hero-shadow: rgba(0, 0, 0, 0.6);
$box-shadow: rgb(177, 176, 176);
$nav-shadow: rgba(177, 176, 176, .5);
$hero-shadow-green: rgba(0, 15, 0, 0.6);
$red: rgb(224, 79, 79);