.error-box {
	margin: 4em 1.5em 3em;
	font-size: 1.8rem;
	text-align: center;
	img {
		width: 100%;
	}
}

@media(min-width: 768px){
    .error-box {
        img {
            width: 75%;
        }
    }
}

@media(min-width: 768px){
    .error-box {
        img {
            width: 50%;
        }
    }
}
