@use 'colors' as c;

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: transparent;
	}

	&__menu {
		padding: 2em 1.5em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: c.$white;
		width: 100%;
	}

	&__hamburger-box {
		display: block;
		position: relative;
		padding: 1.3em;
		background: none;

		&--active .nav__hamburger:nth-child(1) {
			transform: translateY(4px) rotate(135deg);
		}
		&--active .nav__hamburger:nth-child(2) {
			opacity: 0;
		}
		&--active .nav__hamburger:nth-child(3) {
			transform: translateY(-4px) rotate(-135deg);
		}
	}

	&__hamburger {
		height: 4px;
		width: 40px;
		border-radius: 0.5rem;
		background-color: c.$black;
		transition: opacity 0.3s, transform 0.3s;

		&:nth-child(1) {
			transform: translateY(-5px);
		}
		&:nth-child(3) {
			transform: translateY(5px);
		}
	}

	&__items {
		padding: 1em 0;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		background-color: c.$white-alpha;
		width: 100%;
		transform: scaleY(0);
		transform-origin: top;
		backdrop-filter: blur(0.4rem);
		opacity: 0;
		transition: opacity 0.3s, transform .3s;
		border-bottom: 0.1rem solid c.$nav-shadow;

		&--active {
			opacity: 1;
			transform: scaleY(1);
		}
	}

	&__item {
		display: block;
		padding: 0.5em 1em;
		color: c.$black;
		width: 50%;
		text-align: center;

		transition: color 0.3s;

		&:hover {
			color: c.$hover-color;
		}
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		color: c.$black;
		transition: color 0.3s;
		&:hover {
			color: c.$hover-color;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		justify-content: space-between;
		flex-direction: row;
		background-color: c.$white;
		border-bottom: 0.1rem solid c.$nav-shadow;

		&__container {
			flex-direction: row;
			border-bottom: none;
		}

		&__items {
			padding: unset;
			display: flex;
			flex-direction: row;
			font-size: 1.8rem;
			border: none;
			transform: scale(1);
			opacity: 1;
			backdrop-filter: blur(0);
		}

		&__item {
			margin: 0 0.2em;
			padding: 1.55em 1em;

			&:hover,
			&:focus,
			&--scroll {
				outline: none;
				background-color: c.$black;
				color: c.$white;
			}
		}

		&__hamburger-box,
		&__close {
			display: none;
		}
	}
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.display-flex {
	display: flex;
}
